# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual Environment
venv/
.venv/

# Dataset
dataset/
*.zip

# Model files
*.pkl
*.h5

# Generated / Temp files
*.txt

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

